# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Secrets / env
.env
.env.*

# Misc
npm-debug.*
yarn-error.*
*.log
.DS_Store
